target/
artifact/
artifacts/
release-*/
.idea/
.vscode/
*.iml
ocp/secret.yaml
certs/*.crt
certs/*.cer
*.tar
*.tar.sha256
*.tar.gz
*.zip
*.dump
*.kdbx
.registry-auth-temporal/
.env
.env.*
!.env.example
